DATABASE_URL="postgresql://postgres:goodluck1234@localhost:5432/biomatch?schema=public"
BETTER_AUTH_SECRET=hqyjXl8Pb6fHeSKbixzgabxGVc2ZbaDt
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app